body {
  margin: 0;
  padding: 0;
  background: url("https://media.macphun.com/img/uploads/macphun/blog/1359/rain-photography-cover.jpg?q=75&w=1710&h=906&resize=cover")
    center/cover no-repeat;
  position: relative;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value for darkness (0 is transparent, 1 is opaque) */
}

/* Add additional styles for your content */

.mainDiv {
  filter: brightness(100%) !important;
}

.head1 {
  font-size: 86px;
}
.temp {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.107);
}
input,
button,
.loc {
  background-color: rgba(255, 255, 255, 0.351);
  border: 0px;
  border-radius: 15px;
  height: 40px;
  display: inline;
}
button {
  width: 50px !important;
}
::placeholder {
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.head2 {
  border-bottom: 2px white solid;
  font-size: 50px;
  font-family: "Abril Fatface", serif;
}
p {
  color: white;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.aDiv {
  background-color: rgba(255, 255, 255, 0.351);
  border: 0px;
  border-radius: 15px;
  display: inline;
  height: 40px;
}
